#userArtistContainer {
    background-color: #a5ffef;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

#userArtistContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userArtistContainer div label {
    font-weight: bold;
    color: #cb1582;
    text-align: center;
    margin: 20px 0;
}


#userArtistPieChart text {
    font-weight: bold;
}

#userArtistLegend {
    border: #cb1582 3px solid;
    background-color: #cb158260;
    padding: 20px 40px;
    align-self: center;
    color: #a5ffef;
    margin-left: 20px;
}

#userArtistLegend li {
    font-weight: bold;
    margin-bottom: 4px;
}

#userArtistLegend a {
    text-decoration: none;
    color: #191414;
}

